body {
  margin: 0;
}

#content {
  padding: 40px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

form button {
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
}

form label {
  font-family: 'Dosis', Georgia, serif;
  font-size: 1.5em;
  padding: 1vh 0;
}

form input {
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
  width: 28vw;
}

form p,
#feedback {
  font-family: 'Cochin', Georgia, serif;
  font-size: 1.5em;
  padding-bottom: 2vh;
}

video {
  object-fit: fill;
}

.button-active {
  border: 2px outset lightgrey;
}

.button-inactive {
  color: grey;
}

.fixed {
  position: fixed;
  z-index: 100;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 20vh;
}

.sub-nav {
  padding-top: 10vh;
}

#content {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#feedback {
  padding: 2vh 25vw;
}

#navbar {
  background-color: #999;
  border-bottom: 2px groove grey;
  display: flex;
  height: 10vh;
  justify-content: center;
  padding: 0 2vw;
  width: 96vw;
}

#navbar h1 {
  font-size: 4em;
}

#nav-logo {
  align-self: center;
  color: black;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 800;
  text-shadow: 1px 1px 3px white;
}

#startStopButton {
  text-align: center;
  padding-top: 20px;
}

#startStopButton button {
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
}

#start-button {
  margin-right: 20px;
}

#video-pic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
