body {
	background-color: #f2f2f2;
	font-family: 'Dosis', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

form div {
	margin: 0.5em;
	display: inline-block;
}

h2 {
	text-align: center;
}

input {
	font-size: 1.3em;
}

label {
	display: block;
	font-family: 'Dosis';
	font-size: 1.3em;
}

nav {
	align-items: center;
	display: flex;
}

nav a {
	color: #000;
	display: inline-block;
	font-family: 'Dosis', sans-serif;
	font-size: 1.3em;
	font-weight: 600;
	padding: 1vh 1.8vw;
	text-shadow: 1px 1px 2px white;
}

nav a:hover {
	background-color: #7160c791;
	border-radius: 40px;
	transition: background-color 0.5s;
}

.centered {
	text-align: center;
}

.enlarged-font {
	font-size: 140%;
}

.fixed {
	position: fixed;
	z-index: 100;
}

.login-form {
	padding-top: 20vh;
}

.main-container {
	background-color: #fafafa;
	border-radius: 30px;
	box-shadow: 0px 0px 10px #000;
	margin-top: 10vh;
	padding: 5vh 5vw;
}

.sub-nav {
	padding-top: 5vh;
}

.wrap-container {
	margin: 0 15vw;
}

#auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#auth-form button {
	border-radius: 10px;
	padding: 10px;
}

#auth-form form {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50vw;
}

#auth-form p {
	font-family: 'Cochin', Georgia, serif;
	font-size: 1.3em;
	padding-bottom: 1vh;
}

#auth-google {
	text-align: center;
}

#domain-search {
	display: flex;
	justify-content: center;
}

#form-container {
	margin-top: 18vh;
}

#form-header {
	font-family: Georgia, serif;
	font-size: 1.8em;
	font-weight: 400;
	margin: 0;
	padding-bottom: 2vh;
	text-decoration: underline;
}

#navbar {
	background-color: #999;
	border-bottom: 2px groove grey;
	display: flex;
	flex-direction: row;
	height: 10vh;
	justify-content: space-between;
	padding: 0 2vw;
	width: 96vw;
}

#nav-logo {
	align-self: center;
	color: black;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.5em;
	font-weight: 800;
	text-shadow: 1px 1px 3px white;
}

#wrong-username-pw {
	font-size: 1.5em;
	text-align: center;
}
