doctype html

html
  head
    meta(charset='UTF-8')
    title ESPN Lines Extension
    style.
      body { width: 500px; }

  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : '/js/window.bundle.js')
