doctype html

html
  head
    meta(charset='UTF-8')
  title ESPN Lines Extension
  include ./includes/style.pug

  body
    #root
      div(style='position: absolute', id="draggable")
        img(
          src='/img/loading.svg',
          height=300, width=350,
          style='position: absolute; top: 50%; left: 50%; margin-top: -175px; margin-left: -175px;'
        )
    script(src='/js/window.bundle.js')
