style.
  html {
    font-size: 1rem;
  }
  @include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
     }
    }

  @include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
     }
    }

  @include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
 }

  body {
    font-size: small !important;
    overflow: scroll;
   
    margin: 20;
    padding: 20;
    -webkit-app-region: drag !important;   
   
  }
  
    .padding-20{
        padding:20px !important
    }
    .m-p-10{
        margin:10px !important;
        padding:10px !important
    }
  .tab-list {
    padding-left: 0;
    }
    .margin-bottom-10{
        margin-bottom:0;
    }
    .margin-0{
        margin:0 !important
    }
    .margin-l-30{
        margin-left:30px!important
    }
    .padding-0{
        padding:0!important
    }

  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    }
    .border-radius-left{
        border-radius: .25rem 0  0 .25rem ;
    }
    .border-radius-right{
        border-radius: 0 .25rem .25rem 0  ;
    }
    .border-radius{
         border-radius: .25rem
    }

  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border: 1px solid rgba(0,0,0,.125);
    }